
// headingSettings.scss

/*
 * Settings for heading classes
 */

/// Small heading size
/// @group headings
$heading--extra-small: 15px;

/// Small heading size
/// @group headings
$heading--small: 18px;

/// Medium heading size
/// @group headings
$heading--medium: 24px;

/// Large heading size
/// @group headings
$heading--large: 38px;

/// Extra large heading size
/// @group headings
$heading--extra-large: 46px;