
// headings.scss

/**
 * Headings styles
 */

/// Heading classes
/// @group headings
.heading {
  text-transform: uppercase;
  color: $colours--dark-one;
  font-size: $heading--small;
  font-weight: $font--weight-medium;
  margin: 0;
  
  /// Extra small heading
  /// @group headings
  &--extra-small {
    font-size: $heading--extra-small;
    
    @include below-breakpoint($sizes--breakpoint-large) {
      font-size: 12px;
    }
  }
  
  /// Small heading
  /// @group headings
  &--small {
    font-size: $heading--small;
    
    @include below-breakpoint($sizes--breakpoint-large) {
      font-size: $heading--extra-small;
    }
  }
  
  /// Medium heading
  /// @group headings
  &--medium {
    font-size: $heading--medium;
    
    @include below-breakpoint($sizes--breakpoint-large) {
      font-size: $heading--small;
    }
  }
  
  /// Large heading
  /// @group headings
  &--large {
    font-size: $heading--large;
    
    @include below-breakpoint($sizes--breakpoint-large) {
      font-size: $heading--medium;
    }
  }
  
  /// Extra large heading
  /// @group headings
  &--extra-large {
    font-size: $heading--extra-large;
    
    @include below-breakpoint($sizes--breakpoint-large) {
      font-size: $heading--large;
    }
  }
}