
// text.scss

/*
 * Text Classes
 */

/// Text classes
/// @group text
.text {
  
  /*
   * Text positions
   */
   
  /// @group text
   &--center {
     text-align: center !important;
   }
   
  /// @group text
   &--left {
     text-align: left !important;
   }
   
  /// @group text
   &--right {
     text-align: right !important;
   }
}

/*
 * Colours
 */
 
@each $label, $map in $colours-map {
  .text--#{$label} {
    color: map-get($map, colour) !important;
  }
}