
// _border.scss

/*
 * A collection of mixins using the 'border' properties
 */

/**
* border-radius mixin including vendor prefixed properties
*
* Example usage:
*
*   @include border-radius(10px);
*/
@mixin border-radius($radius) {
 -moz-border-radius: $radius;
 -webkit-border-radius: $radius;
 border-radius: $radius;
}
