
// _box-sizing.scss

/*
 * A collection of mixins using the 'box-sizing' properties
 */

/**
* box-sizing mixin including vendor prefixed properties
*
* Example usage:
*
*   @include ausl__box-sizing(border-box);
*/
@mixin ausl__box-sizing($type: border-box) {
  -moz-box-sizing: $type;
  -webkit-box-sizing: $type;
  box-sizing: $type;
}
