
// clearfix.scss

/**
 * Clear fix mixin for use with floats
 *
 * Example usage:
 *
 *   @include clearfix;
 */
@mixin clearfix {
  zoom:1;
  &:before,
  &:after {
    content:"";
    display:table;
  }

  &:after {
    clear: both;
  }
}
