
// depth.scss

/*
 * Depth / Layering Styles
 */

/* Variables
 * ========================================================================= */

/// Depth level 1
/// @group depth
$depth--level-1: 100;

/// Depth level 2
/// @group depth
$depth--level-2: 200;

/// Depth level 3
/// @group depth
$depth--level-3: 300;

/// Depth level 4
/// @group depth
$depth--level-4: 400;

/// Depth level 5
/// @group depth
$depth--level-5: 500;

/// Depth level top
/// @group depth
$depth--level-top: 2000;

/* Styles
 * ========================================================================= */

/// Depth classes
/// @group depth
.depth {
  
  /// @group depth
  &--level-1 {
    z-index: $depth--level-1;
  }
  
  /// @group depth
  &--level-2 {
    z-index: $depth--level-2;
  }
  
  /// @group depth
  &--level-3 {
    z-index: $depth--level-3;
  }
  
  /// @group depth
  &--level-4 {
    z-index: $depth--level-4;
  }
  
  /// @group depth
  &--level-5 {
    z-index: $depth--level-5;
  }
  
  /// @group depth
  &--top {
    z-index: $depth--level-top;
  }
}