
// fonts.scss

/*
 * Font Styles
 */

/* Variables
 * ========================================================================= */

/// Font family
/// @group fonts
$font-family: 'Open Sans', sans-serif;

/// Font weight light
/// @group fonts
$font-light: 300;

/// Font weight normal
/// @group fonts
$font-normal: 300;

/// Font weight normal
/// @group fonts
$font-medium: 400;

/// Font weight bold
/// @group fonts
$font-bold: 600;

/* Styles
 * ========================================================================= */

/// Font sizes
/// @group fonts
.font-size {
  
  /// @group fonts
  &--small {
    font-size: 12px;
  }
  
  /// @group fonts
  &--medium {
    font-size: 14px;
  }
  
  /// @group fonts
  &--large {
    font-size: 14px;
  }
  
  /// @group fonts
  &--extra-large {
    font-size: 18px;
  }
}


