
// headings.scss

/**
 * Headings styles
 */

/* Import
 * ========================================================================= */

// Colours
@import 'src/colours';

// Media Queries
@import 'src/media-queries';

// Sizes
@import 'src/sizes';

/* Variables
 * ========================================================================= */

/// Small heading size
/// @group headings
$heading--extra-small: 15px;

/// Small heading size
/// @group headings
$heading--small: 18px;

/// Medium heading size
/// @group headings
$heading--medium: 24px;

/// Large heading size
/// @group headings
$heading--large: 38px;

/// Extra large heading size
/// @group headings
$heading--extra-large: 46px;

/* Classes
 * ========================================================================= */

/// Heading classes
/// @group headings
.heading {
  text-transform: uppercase;
  color: $colour--dark-primary;
  font-size: $heading--small;
  font-weight: 400;
  transition-duration: .4s;
  
  /// Extra small heading
  /// @group headings
  &--extra-small {
    font-size: $heading--extra-small;
    // font-weight: 100;
    font-family: 'Helvetica', 'Arial', sans-serif;
    text-transform: initial;
    
    @include below-breakpoint($sizes--breakpoint-large) {
      font-size: 12px;
    }
  }
  
  /// Small heading
  /// @group headings
  &--small {
    font-size: $heading--small;
    
    @include below-breakpoint($sizes--breakpoint-large) {
      font-size: $heading--extra-small;
    }
  }
  
  /// Medium heading
  /// @group headings
  &--medium {
    font-size: $heading--medium;
    
    @include below-breakpoint($sizes--breakpoint-large) {
      font-size: $heading--small;
    }
  }
  
  /// Large heading
  /// @group headings
  &--large {
    font-size: $heading--large;
    
    @include below-breakpoint($sizes--breakpoint-large) {
      font-size: $heading--medium;
    }
  }
  
  /// Extra large heading
  /// @group headings
  &--extra-large {
    font-size: $heading--extra-large;
    
    @include below-breakpoint($sizes--breakpoint-large) {
      font-size: $heading--large;
    }
  }
}