
// sizes.scss

/// Extra-small breakpoint
/// @group sizes
$sizes--breakpoint-extra-small: 480px;

/// Small breakpoint
/// @group sizes
$sizes--breakpoint-small: 768px;

/// Medium breakpoint
/// @group sizes
$sizes--breakpoint-medium: 992px;

/// Large breakpoint
/// @group sizes
$sizes--breakpoint-large: 1200px;
