
// _transition.scss

/*
 * A collection of mixins using the 'transition' properties
 */

/**
 * transition mixin including vendor prefixed properties
 *
 * Example usage:
 *
 *   @include ausl__transition(top, 1s, ease);
 */
@mixin ausl__transition($type, $time, $curve) {
  -o-transition: $type $time $curve;
  -moz-transition: $type $time $curve;
  -webkit-transition: $type $time $curve;
  transition: $type $time $curve;
}

/**
 * transition-delay mixin including vendor prefixed properties
 *
 * Example usage:
 *
 *   @include ausl__transition-delay(1s);
 */
@mixin ausl__transition-delay($time) {
  -webkit-transition-delay: $time;
  transition-delay: $time;
}

/**
 * transition-duration mixin including vendor prefixed properties
 *
 * Example usage:
 *
 *   @include ausl__transition-duration(.4s);
 */
@mixin ausl__transition-duration($time) {
  -moz-transition-duration: $time;
  -o-transition-duration: $time;
  -webkit-transition-duration: $time;
  transition-duration: $time;
}

/**
 * transition mixin which accepts an arbitrary number of arguments
 *
 * Example usage:
 *
 *   @include ausl__transition-properties(1s top ease .4s, .4s color linear 0s);
 */
@mixin ausl__transition-properties($arguments...) {
  -webkit-transition: $arguments;
  -moz-transition: $arguments;
  -o-transition: $arguments;
  transition: $arguments;
}
